.ControlPanel-main {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  height: 1000px;
}

.ControlPanel-generator {
  display: flex;
  flex-direction: column;

  padding: 10px;
  gap: 20px;
}

.ControlPanel-startEndSelector {
  display: flex;
  flex-direction: column;

  padding: 10px;
  gap: 20px;
}

.ControlPanel-algorithm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}

.ControlPanel-algochoice {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ControlPanel-button {
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border: 0.1em solid var(--textcolor);
  border-radius: 5px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  user-select: none;
  font-weight: 300;
  letter-spacing: 1px;
}

.ControlPanel-button:hover {
  letter-spacing: 2px;
  cursor: pointer;
  background-color: rgb(217, 219, 221, 0.1);
}

.ControlPanel-button:active {
  letter-spacing: 2px;
  transform: scale(0.98);
  background-color: rgb(217, 219, 221, 0.1);
}

.ControlPanel-button-pressed {
  letter-spacing: 2px;
  transform: scale(0.98);
  background-color: rgb(217, 219, 221, 0.1);
}

.ControlPanel-tabs {
  display: flex;
  flex-direction: row;
}

.ControlPanel-tab {
  width: 50%;
}

.ControlPanel-steptitle {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.ControlPanel-text-chosen {
  font-size: 1rem;
  letter-spacing: 3px;
  font-weight: 300;
  transition: 100ms;
}

.ControlPanel-smalltext {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  transition: 100ms;
}

.ControlPanel-input {
  margin-right: 15px;
}

.ControlPanel-results {
  text-align: center;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 5px;
}

.ControlPanel-results:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  margin: auto;
  width: 95%;
  border-bottom: 1px solid var(--textcolor);
}

.ControlPanel-stats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (max-width: 1315px) {
  .ControlPanel-main {
    flex-direction: row;
    padding-right: 0px;
    align-self: center;
    gap: 50px;
  }
  .ControlPanel-generator {
    min-width: 25%;
    flex: 1;
  }
  .ControlPanel-startEndSelector {
    min-width: 25%;
    flex: 1;
  }
  .ControlPanel-algorithm {
    min-width: 25%;
    flex: 1;
  }
}
